.dot-red {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  right: -8px;
  bottom: 17px;
}

.icon-row__icon-box {
  position: relative;
}

.more__dot-red {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -25px;
  bottom: 80px;
}
